 <nav class="navbar navbar-light navbar-fixed-top">
  <div class="container-fluid navbar-header">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="MarkUp">MarkUp</a>
    </div>
    <div>
      <a class="btn" target="_blank" download="{{ fullFileName }}" [href]="sanitize(url)" (click)="saveMD()">Download MD</a>
      <a class="btn" target="_blank" download="{{ fullFileName }}" [href]="sanitize(url)" (click)="saveHTML()">Download HTML</a>
      <input [(ngModel)]="workingFile.title">
    </div>
    <div>
      <button class="btn navbar-btn" (click)="createFile()">New File</button>
      <button class="btn navbar-btn" (click)="saveFile()">Save File</button>
      <button class="btn navbar-btn" (click)="deleteFile()">Delete File</button>
    </div>
    <div>
      <select [(ngModel)]="selectedLevel" (change)="loadFile()">
      <option *ngFor="let item of file" [ngValue]="item">{{item.title}}</option>
    </select>
    </div>
    <div class="navbar-left btn-group">
      <button class="btn btn-danger navbar-btn ">Button</button>
      <button class="btn btn-danger navbar-btn ">Button</button>
      <button class="btn btn-danger navbar-btn ">Button</button>
      <button class="btn btn-danger navbar-btn ">Button</button>
      <button class="btn navbar-btn ">Download</button>
    </div>
    <div class="navbar navbar-right" *ngIf="user != null">
      <a>Hello, {{ user.username }}</a>
      <a class="btn" [routerLink]="['/login']">Logout</a>
      <a class="btn btn-info navbar-btn navbar-right" (click)="getCaretPos(myText)">Settings</a>
    </div>
    <div class="navbar navbar-right" *ngIf="user == null">
      <a class="btn" [routerLink]="['/login']">Login</a>
      <a class="btn btn-danger navbar-btn navbar-right" (click)="getCaretPos(myText)">Register</a>
    </div>
  </div>
</nav>
<image [href]="user"></image>
<div class="containers">

  <div class="container">
    <textarea class="inputPane" [(ngModel)]="workingFile.text" #myText></textarea>
  </div>

  <div class="container">
    <markdown class="pane" ngPreserveWhitespaces [data]="workingFile.text"></markdown>
  </div>

</div>
