<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

              <h2>Settings</h2>
              <form [formGroup]="nameForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastName">Second Name </label>
                    <input type="text" formControlName="lastName" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
              </form>

              <form (ngSubmit)="onSubmitAvatar()">
                <div>
                  <input type="file" formControlName="avatar" class="avatar" (change)="onFileChanged($event)">
                </div>
                <br>
                 <div>
                    <button class="btn btn-primary">Save</button>
                </div>
              </form>

            </div>
        </div>
    </div>
</div>
